:root {
  --background-color: #1c2431;
  --background-color-opacity: rgba(28, 36, 49, 0.5);
  --text-color: #edf2f7;
  --modules-color: #293547;
  --modules-color-opacity: rgba(41, 53, 71, 0.5);
  --accent-red: #ff4c4c;
  --accent-cyan: #00e6e6;
  --accent-amber: #ffb900;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
}

.div-main {
  background-color: var(--background-color-opacity);
  border-radius: 1rem;
  height: 90%;
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0rem 0rem 2.5rem 0.5rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  align-items: start;
}

.div-menu,
.div-menu:hover {
  /* background-color: var(--modules-color-opacity); */
  color: var(--text-color);
  font-size: 1.5rem;
  justify-content: left;
  align-items: center;
  border-radius: 2.5rem !important;
  height: auto;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  margin: auto;
  float: left;
  display: flex;
  cursor: default;
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

button {
  background-color: var(--modules-color-opacity);
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: center;
  display: flex;
  border-radius: 2.5rem;
  box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease-in-out;
  cursor: default;
}

button:hover {
  background-color: var(--modules-color);
  transform: scale(110%);
  cursor: pointer;
}

.button-rectengular > * {
  border-radius: 0rem !important;
}
