:root {
  --background-color: #1c2431;
  --text-color: #edf2f7;
  --modules-color: #293547;
  --accent-red: #ff4c4c;
  --accent-cyan: #00e6e6;
  --accent-amber: #ffb900;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}